:root {
	--ff-primary: 'Red Hat Text', serif;

	--clr-white: hsl(0, 0%, 100%);
	--clr-black: hsl(0, 0%, 0%);
	--clr-Red: hsl(14, 86%, 42%);
	--clr-Green: hsl(159, 69%, 38%);

	--clr-Rose-50: hsl(20, 50%, 98%);
	--clr-Rose-100: hsl(13, 31%, 94%);
	--clr-Rose-300: hsl(14, 25%, 72%);
	--clr-Rose-400: hsl(7, 20%, 60%);
	--clr-Rose-500: hsl(12, 20%, 44%);
	--clr-Rose-900: hsl(14, 65%, 9%);

	--fs-16: 1rem;
	--fs-18: 1.125rem;
	--fs-20: 1.25rem;
	--fs-22: 1.375rem;
	--fs-24: 1.5rem;
	--fs-26: 1.625rem;
	--fs-28: 1.75rem;
	--fs-30: 1.875rem;
	--fs-32: 2rem;
	--fs-34: 2.125rem;
	--fs-36: 2.25rem;
	--fs-38: 2.375rem;
	--fs-40: 2.5rem;
	--fs-42: 2.625rem;
	--fs-44: 2.75rem;
	--fs-46: 2.875rem;
	--fs-48: 3rem;
	--fs-50: 3.125rem;
	--fs-52: 3.25rem;
	--fs-54: 3.375rem;
	--fs-56: 3.5rem;
	--fs-58: 3.625rem;
	--fs-60: 3.75rem;
	--fs-62: 3.875rem;
	--fs-64: 4rem;
	--fs-66: 4.125rem;
	--fs-68: 4.25rem;
	--fs-70: 4.375rem;
	--fs-72: 4.5rem;
	--fs-74: 4.625rem;
	--fs-76: 4.75rem;
	--fs-78: 4.875rem;
	--fs-80: 5rem;
}
