.cart-panel {
	background-color: var(--clr-white);
	border-radius: 10px;

	.cart-heading {
		margin-bottom: 1.75rem;
		color: var(--clr-Red);
		font-weight: 700;
	}
	.cart-body {
		.empty-cart-img {
			margin-bottom: 1rem;
		}
		.empty-cart-info {
			font-size: var(--fs-14);
			font-weight: 600;
			color: var(--clr-Rose-500);
		}

		.cart-item {
			border-bottom: 1px solid var(--clr-Border);
			padding-bottom: 1rem;
			margin-bottom: 1rem;
			.cart-item-name {
				margin-bottom: 0.5rem;
				font-size: var(--fs-14);
				font-weight: 600;
			}
			.cart-item-price-box {
				font-size: var(--fs-14);

				.cart-item-quantity {
					font-weight: 600;
					color: var(--clr-Red);
				}
				.cart-item-price {
					color: var(--clr-Rose-500);
				}
				.cart-item-total {
					color: var(--clr-Rose-500);
					font-weight: 600;
				}
			}

			.cart-item-remove::after {
				position: absolute;
				content: '';
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 18px;
				height: 18px;
				border: 1px solid var(--clr-Rose-400);
				border-radius: 50%;
			}
		}

		.carbon-neutral {
			margin-block: 1.25rem;
			width: 100%;
			padding: 15px;
			font-size: var(--fs-14);
			font-weight: 500;
			background-color: var(--clr-Rose-50);
			border-radius: 8px;

			span {
				font-weight: 700;
			}
		}
	}
}
.order-total {
	p {
		font-size: var(--fs-14);
		font-weight: 500;
	}
	.total-costs {
		font-size: var(--fs-24);
		font-weight: 700;
	}
}
