.order-confirmation {
	padding: 2.5rem 1.5rem;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 90vh;
	background-color: var(--clr-white);
	border-radius: 12px;

	.icon-confirmed {
		margin-bottom: 1.5rem;
	}
	.confirmation-heading {
		margin-bottom: 0.5rem;
		font-size: var(--fs-40);
		font-weight: 700;
	}
	.confirmation-text {
		color: var(--clr-Rose-500);
	}
	.ordered-items-list {
		margin-top: 2rem;
		background-color: var(--clr-Rose-50);
		border-radius: 12px;

		.ordered-item {
			border-bottom: 1px solid var(--clr-Border);
			padding-bottom: 1rem;
			margin-bottom: 1rem;

			.thumbnail-img {
				width: 50px;
				height: 50px;
				border-radius: 6px;
			}
			.ordered-item-name {
				font-size: var(--fs-14);
				font-weight: 600;
			}
			.ordered-item-amount {
				font-size: var(--fs-14);
				font-weight: 600;
				color: var(--clr-Red);
			}
			.ordered-item-price {
				font-size: var(--fs-14);
				color: var(--clr-Rose-400);
			}
			.ordered-item-total {
				font-weight: 600;
			}
		}
	}
}
