.app-heading {
	margin-bottom: 2rem;
	font-size: var(--fs-40);
	font-weight: 800;
	color: var(--clr-Rose-700);
}
.product-card {
	margin-bottom: 1.45rem;
	.product-img-box {
		margin-bottom: 2.5rem;
		max-width: fit-content;

		img {
			border-radius: 10px;
		}
		.product-btn {
			padding: 12px;
			width: 159px;
			bottom: -1rem;
			left: 50%;
			transform: translateX(-50%);
			background: var(--clr-white);
			border: 1px solid var(--clr-Rose-400);
			border-radius: 25px;
			font-size: var(--fs-14);
			font-weight: 600;
		}
		.quantity-btn {
			padding-inline: 15px;
			background-color: var(--clr-Red);
			color: var(--clr-white);
			border: none;

			.icon-wrapper::after {
				position: absolute;
				content: '';
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				border: 1px solid var(--clr-white);
				border-radius: 50%;
				width: 17px;
				height: 17px;
			}
		}
	}
	.product-info {
		.product-category {
			font-size: var(--fs-14);
			color: var(--clr-Rose-400);
		}
		.product-name {
			color: var(--clr-Rose-700);
			font-weight: 600;
		}
		.price {
			color: var(--clr-Red);
			font-weight: 600;
		}
	}
}
